<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
          Ihr Inserat wurde nicht verifiziert
        </h1>
      </div>
      <div class="body">
        <p>
          Guten Tag
          {{name}},
        </p>
        <p>
          Ihr Inserat wurde nicht Verifiziert, Sie dürfen unsere Plattform
          weiterhin nutzen.
        </p>
      </div>
      <div class="footer">
        <p>
          Mit freundlichen Grüssen,
        </p>
        <p>
          Ihr onlyfriend.ch Team
        </p>
        <img src="../logos/logo.png" alt="Onlyfriend" />
      </div>
    </div>
  </body>
</html>