<html>
  <head>
    <style>
      .button { display: inline-block; background: #29ace3; color: white;
      border-radius: 5px; border: solid 1px #29ace3; padding: 15px; font-size:
      medium; font-weight: bold; cursor: pointer; text-decoration: none;
      max-width: max-content; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>
          Passwort zur端cksetzen
        </h1>
      </div>
      <div class="body">
        <p>
          Guten Tag {{name}},
        </p>
        <p>
          Klicken Sie auf folgenden Link, um Ihr Passwort zur端ckzusetzen.
        </p>
        <a class="button" href="{{url}}">
          Passwort zur端cksetzen
        </a>
      </div>
      <div class="footer">
        <p>
          Mit freundlichen Gr端ssen,
        </p>
        <p>
          Ihr onlyfriend.ch Team
        </p>
        <img src="../logos/logo.png" alt="Onlyfriend" />
      </div>
    </div>
  </body>
</html>